@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  background-color: #f7f7f7;
}

.card {
  width: 400px;
  height: auto;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.avatar {
  display: block;
  width: 100%;
}

.data {
  display: flex;
  flex-direction: column;
}
